html {
	-webkit-text-size-adjust: none;
}

/*****************************************/
@media screen and (max-width:940px){
	#djmod_map{ 
		max-width: 100%;
	}
	.video_box iframe{
		max-width:100%;
	}
	.video_box .row_value{
		display:inline !important;
	}
	#dj-classifieds .dj-item .images_wrap{
		width: 100% !important;
	}
	#dj-classifieds .dj-item .general_det{
	    clear: both;
	    float: none;
	    width: 100% !important;
	}
	.geo_coordinates{
		word-break: break-all;
	}
	#dj-classifieds input[type="text"], #dj-classifieds input[type="email"], #dj-classifieds select, #dj-classifieds textarea, .defaultSimpleSkin iframe{
		width:88%;
		padding-left:5%;
		padding-right:5%;
	}
	#dj-classifieds .dj-additem .djform_row .djform_field{
	    clear: both;
	    float: none;
	}
	#dj-classifieds .dj-additem .prom_rows .djform_row .djform_field{
	    clear: none;
	    float: left;		
	}
	.toggle-editor.btn-toolbar{
		float:left;
	}
}
@media screen and (max-width:767px){
	
}
@media screen and (max-width:684px){
	#dj-classifieds .dj-item .general_det .added,
	#dj-classifieds .dj-item .general_det .user_name,
	#dj-classifieds .dj-item .custom_det,
	#dj-classifieds .dj-item .localization_det{
	    margin: 0 0 5px;
	    width: 100%;
	}
	.recaptchatable .recaptcha_image_cell,
	.recaptchatable, #recaptcha_area tr, #recaptcha_area td, #recaptcha_area th{
		padding:2px !important;
	}
	table#recaptcha_table{
		display:block;
		overflow-x:auto;
	}
	#dj-classifieds .dj-cattree-box.cols6 .dj-cattree,
	#dj-classifieds .dj-cattree-box.cols5 .dj-cattree,
	#dj-classifieds .dj-cattree-box.cols4 .dj-cattree,
	#dj-classifieds .dj-cattree-box.cols3 .dj-cattree{
		width:50%;
	}
	.dj-cattree-wrap div{
		clear:none !important;
	}
	#dj-classifieds .dj-cattree-box{
		display:table;
	}
	#dj-classifieds .dj-additem .prom_rows .djform_row .label,
	#dj-classifieds .dj-additem .prom_rows .djform_row .djform_field{
		width: 100%;
		margin:0 0 5px;
	}
	#dj-classifieds .dj-additem .djform_row .label{
		text-align:left;
	}
}
@media screen and (max-width:567px){
	#dj-classifieds .dj-category .cat_col,
	#dj-classifieds .djcf_items_blog .item_box{
		width:100% !important;
	}
	#dj-classifieds .dj-cattree-box.cols5 .dj-cattree,
	#dj-classifieds .dj-cattree-box.cols4 .dj-cattree,
	#dj-classifieds .dj-cattree-box.cols3 .dj-cattree{
		width:100%;
	}
	#dj-classifieds .defaultSimpleSkin table.mceLayout{
		width:auto !important;
		max-width:100%;
	}
	
	#dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua.advert_active,
	#dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua.public_status, 
	#dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua.icon_name{
		width:100%;
		display:block;
		float:left;
		border-none;		
	}
	#dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua.public_status, 
	#dj-classifieds .dj-useradverts .row_ua .row_ua1 .col_ua.icon_name{ 
		border-bottom:1px solid #E8E8E8;
	}
}
@media screen and (max-width:479px){
	
}
@media screen and (max-width:379px){
	#dj-classifieds #ask_form_button{
		font-size: 0.8em;
	}
	#dj-classifieds .dj-additem .djform_row .label{
		width: 170px;
	}
	#dj-classifieds select{
	    max-width: 100%;
	    width: auto !important;
	}
	#dj-classifieds .dj-additem .prom_rows .djform_prom_v, #dj-classifieds .dj-additem .prom_rows .djform_prom_img,
	#dj-classifieds .dj-additem .prom_rows .djform_prom_desc{
	    margin: 0 0 5px;
	    width: 100%;
	} 
}
@media screen and (max-width:319px){
	#dj-classifieds .dj-item .title_top .sb_top{
		display:none;
	}
	#dj-classifieds .dj-item .general_det .price_wrap{
	    font-size: 0.8em;
	    padding: 5%;
	}
	#dj-classifieds #ask_form_button,
	#dj-classifieds button, #dj-classifieds .button, .dj_cf_search button.button, .dj_cf_search a.button, .dj_cf_regions_selects button.button{
	    background: none repeat scroll 0 0 #DEDEDE;
	    float: none;
	    font-size: 0.7em;
	    margin: 0 0 5px;
	    padding: 2px;
	}
	#dj-classifieds .dj-item .ask_form_abuse_outer{
		text-align:center;
	}
	#dj-classifieds .pagination ul li{
	    font-size: 10px;
	    margin: 1px;
	    padding: 2px 1px;		
	}
	#dj-classifieds .dj-additem .djform_row .label {
	    margin: 0 0 5px;
	    padding: 3px;
	    width: auto;
	}
	#description_container table tr.last{
		display:none;
	}
	#dj-classifieds .dj-additem .djform_row .label{
		font-size:10px;
	}
	.djform_field #uploader{
		overflow:hidden;
	}
}