.techjoomla-bootstrap .sa_steps_parent .sa-steps-ol {
margin: 0 !important;
padding: 0 !important;
display: inline-block;
font-weight: bold;
font-size: 12px;
background: #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}


.techjoomla-bootstrap .sa_steps_parent .sa-steps-ol li:first-child {
-moz-border-radius: 4px 0 0 4px;
-webkit-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
padding-left: 12px;
}



.techjoomla-bootstrap .sa_steps_parent .sa-steps-ol li {
display: inline-block;
position: relative;
margin: 0px !important;
line-height: 18px;
list-style: none;
padding: 12px 17px 10px 30px !important;
background: #dddee4;
zoom: 1;
}

.techjoomla-bootstrap .sa_steps_parent .sa-steps-ol li:first-child:before {
border: none;
}

.techjoomla-bootstrap .sa_steps_parent .sa-steps-ol li:before {
position: absolute;
left: 0;
top: 0;
height: 0;
width: 0;
border-bottom: 20px inset transparent;
border-left: 20px solid #fff;
border-top: 20px inset transparent;
content: "";
}



.techjoomla-bootstrap .sa_steps_parent .sa-steps-ol li:after {
position: absolute;
right: -20px;
top: 0;
height: 0;
width: 0;
border-bottom: 20px inset transparent;
border-left: 20px solid #dddee4;
border-top: 20px inset transparent;
content: "";
z-index: 2;
}

.techjoomla-bootstrap .sa_steps_parent .sa-steps-ol .complete  {
color: #468847;
background: #f3f4f5;
cursor:pointer;
}
.techjoomla-bootstrap .sa_steps_parent .sa-steps-ol .complete .badge-success
{
 background-color: #468847;
}
.techjoomla-bootstrap .sa_steps_parent .sa-steps-ol .complete:after {
border-left-color: #f3f4f5;
}

.techjoomla-bootstrap .sa_steps_parent .sa-steps-ol .active {
color: #3a87ad;
background: #f3f4f5;
}

.techjoomla-bootstrap .sa_steps_parent .sa-steps-ol .active:after {
border-left-color: #f3f4f5;
}

.techjoomla-bootstrap .sa_steps_parent{
background-color: #f9f9f9;
border: 1px solid #d4d4d4;
border-radius: 4px;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.techjoomla-bootstrap .sa_steps_parent .sa-steps-ol .active .badge{
background-color: #3a87ad;
}
.techjoomla-bootstrap .sa_steps_parent .sa-steps-ol .badge{
background-image: none;
height: auto;
width: auto;
position:static;
}
@media (max-width: 480px){

.techjoomla-bootstrap .sa_steps_parent .sa-steps-ol li {
padding: 12px 0px 10px 25px !important;
}
}
