span.adag_tip {
    position: relative;
}
.adag_tip:hover span {
    display: inline;
    border: 1px solid #D4D5AA;
    background: #000000;
    color: #FFFFFF;
	border-radius:5px 5px 5px 5px;
}
.adag_tip span {
    display: none;
    padding: 2px 3px;
    margin-left: 8px;
    width: 212px;
    position: absolute;
    top: -5px;
    left: 20px;
    z-index: 1001;
}
.adag_tip img {
    float: none;
    margin: 0;
}
